In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Jupyter").getOrCreate()

%%sql
CREATE DATABASE IF NOT EXISTS nyc.taxis;

In [2]:
%%sql
CREATE TABLE IF NOT EXISTS nyc.taxis;

24/11/14 13:38:19 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

++
||
++
++

In [3]:
%%sql

DROP TABLE IF EXISTS nyc.taxis;

++
||
++
++

In [4]:
%%sql

CREATE TABLE nyc.taxis (
    VendorID              bigint,
    tpep_pickup_datetime  timestamp,
    tpep_dropoff_datetime timestamp,
    passenger_count       double,
    trip_distance         double,
    RatecodeID            double,
    store_and_fwd_flag    string,
    PULocationID          bigint,
    DOLocationID          bigint,
    payment_type          bigint,
    fare_amount           double,
    extra                 double,
    mta_tax               double,
    tip_amount            double,
    tolls_amount          double,
    improvement_surcharge double,
    total_amount          double,
    congestion_surcharge  double,
    airport_fee           double
)
USING iceberg
PARTITIONED BY (days(tpep_pickup_datetime))

++
||
++
++

In [5]:
df = spark.read.parquet("/home/iceberg/data/yellow_tripdata_2022-01.parquet")
df.writeTo("nyc.taxis").append()

In [6]:
%%sql
SELECT * FROM nyc.taxis.manifests

+---------+--------------------------------------------------------------------------------+--------+-------------------+---------------------+------------------------+---------------------------+--------------------------+--------------------------+-----------------------------+----------------------------+----------------------------------------------------------------------------------------------------+
| content |                                                                           path | length | partition_spec_id |   added_snapshot_id | added_data_files_count | existing_data_files_count | deleted_data_files_count | added_delete_files_count | existing_delete_files_count | deleted_delete_files_count |                                                                                partition_summaries |
+---------+--------------------------------------------------------------------------------+--------+-------------------+---------------------+------------------------+---------------------------+--------------------------+--------------------------+-----------------------------+----------------------------+----------------------------------------------------------------------------------------------------+
|       0 | s3://warehouse/nyc/taxis/metadata/d7166d89-f075-4c65-a15d-05f627ede544-m0.avro |  16260 |                 0 | 6022052716745643488 |                     40 |                         0 |                        0 |                        0 |                           0 |                          0 | [Row(contains_null=False, contains_nan=False, lower_bound='2008-12-31', upper_bound='2022-05-18')] |
+---------+--------------------------------------------------------------------------------+--------+-------------------+---------------------+------------------------+---------------------------+--------------------------+--------------------------+-----------------------------+----------------------------+----------------------------------------------------------------------------------------------------+

In [7]:
%%sql
SELECT * FROM nyc.taxis.files

+---------+---------------------------------------------------------------------------------------------------------------------------------+-------------+---------+-----------------------------------------------------------+--------------+--------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+---------------+--------------+---------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| content |                                                                                                                       file_path | file_format | spec_id |                                                 partition | record_count | file_size_in_bytes |                                                                                                                                                                                            column_sizes |                                                                                                                                                                                                                value_counts |                                                                                                                           null_value_counts |                                                                  nan_value_counts |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              lower_bounds |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             upper_bounds | key_metadata | split_offsets | equality_ids | sort_order_id |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               readable_metrics |
+---------+---------------------------------------------------------------------------------------------------------------------------------+-------------+---------+-----------------------------------------------------------+--------------+--------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+---------------+--------------+---------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [8]:
%%sql
select * from nyc.taxis.partitions

+-----------------------------------------------------------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+----------------------------+--------------------------+
|                                                 partition | spec_id | record_count | file_count | total_data_file_size_in_bytes | position_delete_record_count | position_delete_file_count | equality_delete_record_count | equality_delete_file_count |            last_updated_at | last_updated_snapshot_id |
+-----------------------------------------------------------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+----------------------------+--------------------------+
| Row(tpep_pickup_datetime_day=datetime.date(2021, 12, 31)) |       0 |           24 |          1 |                          7075 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 1)) |       0 |        63441 |          1 |                       1095030 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 3, 9)) |       0 |            1 |          1 |                          5528 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 4)) |       0 |        74562 |          1 |                       1236592 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 5)) |       0 |        74592 |          1 |                       1232453 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 2)) |       0 |        58421 |          1 |                       1014882 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 3)) |       0 |        72405 |          1 |                       1214233 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 8)) |       0 |        83177 |          1 |                       1355096 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 9)) |       0 |        64014 |          1 |                       1091013 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 6)) |       0 |        79909 |          1 |                       1299518 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 7)) |       0 |        71590 |          1 |                       1174110 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 12)) |       0 |        80352 |          1 |                       1292455 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 13)) |       0 |        84952 |          1 |                       1357482 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 3, 15)) |       0 |            3 |          1 |                          6111 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 10)) |       0 |        73692 |          1 |                       1208758 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 5, 18)) |       0 |            2 |          1 |                          6109 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 11)) |       0 |        77603 |          1 |                       1251579 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 16)) |       0 |        72783 |          1 |                       1214450 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 17)) |       0 |        63518 |          1 |                       1086980 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 14)) |       0 |        93817 |          1 |                       1486934 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 15)) |       0 |        88704 |          1 |                       1428921 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 20)) |       0 |        90778 |          1 |                       1438463 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 21)) |       0 |       101054 |          1 |                       1581953 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 18)) |       0 |        84603 |          1 |                       1362794 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 19)) |       0 |        86640 |          1 |                       1375640 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 24)) |       0 |        78541 |          1 |                       1284218 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 25)) |       0 |        87349 |          1 |                       1389586 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 22)) |       0 |        96587 |          1 |                       1529503 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 23)) |       0 |        76914 |          1 |                       1270871 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 28)) |       0 |        95873 |          1 |                       1524468 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 29)) |       0 |        34388 |          1 |                        538042 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 26)) |       0 |        96747 |          1 |                       1503996 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 27)) |       0 |        99766 |          1 |                       1564617 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 2, 1)) |       0 |            6 |          1 |                          6374 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 4, 6)) |       0 |            1 |          1 |                          5528 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 30)) |       0 |        71229 |          1 |                       1194244 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 31)) |       0 |        85878 |          1 |                       1403532 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
| Row(tpep_pickup_datetime_day=datetime.date(2008, 12, 31)) |       0 |            6 |          1 |                          6373 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2009, 1, 1)) |       0 |            8 |          1 |                          6599 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 2, 22)) |       0 |            1 |          1 |                          5528 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
+-----------------------------------------------------------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+----------------------------+--------------------------+

In [9]:
%%sql

ALTER TABLE nyc.taxis DROP PARTITION FIELD days(tpep_pickup_datetime)

++
||
++
++

In [10]:
%%sql

ALTER TABLE nyc.taxis ADD PARTITION FIELD hours(tpep_pickup_datetime)

++
||
++
++

In [11]:
%%sql

SELECT * FROM nyc.taxis.partitions

+-----------------------------------------------------------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+----------------------------+--------------------------+
|                                                 partition | spec_id | record_count | file_count | total_data_file_size_in_bytes | position_delete_record_count | position_delete_file_count | equality_delete_record_count | equality_delete_file_count |            last_updated_at | last_updated_snapshot_id |
+-----------------------------------------------------------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+----------------------------+--------------------------+
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 22)) |       0 |        96587 |          1 |                       1529503 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 8)) |       0 |        83177 |          1 |                       1355096 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2009, 1, 1)) |       0 |            8 |          1 |                          6599 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 19)) |       0 |        86640 |          1 |                       1375640 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 30)) |       0 |        71229 |          1 |                       1194244 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 5)) |       0 |        74592 |          1 |                       1232453 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 16)) |       0 |        72783 |          1 |                       1214450 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 2)) |       0 |        58421 |          1 |                       1014882 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 27)) |       0 |        99766 |          1 |                       1564617 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 6)) |       0 |        79909 |          1 |                       1299518 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
| Row(tpep_pickup_datetime_day=datetime.date(2008, 12, 31)) |       0 |            6 |          1 |                          6373 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 31)) |       0 |        85878 |          1 |                       1403532 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 17)) |       0 |        63518 |          1 |                       1086980 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 28)) |       0 |        95873 |          1 |                       1524468 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 3)) |       0 |        72405 |          1 |                       1214233 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 14)) |       0 |        93817 |          1 |                       1486934 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 2, 22)) |       0 |            1 |          1 |                          5528 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
| Row(tpep_pickup_datetime_day=datetime.date(2021, 12, 31)) |       0 |           24 |          1 |                          7075 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 25)) |       0 |        87349 |          1 |                       1389586 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 11)) |       0 |        77603 |          1 |                       1251579 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 29)) |       0 |        34388 |          1 |                        538042 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 15)) |       0 |        88704 |          1 |                       1428921 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 26)) |       0 |        96747 |          1 |                       1503996 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 1)) |       0 |        63441 |          1 |                       1095030 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 12)) |       0 |        80352 |          1 |                       1292455 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 23)) |       0 |        76914 |          1 |                       1270871 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 9)) |       0 |        64014 |          1 |                       1091013 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 20)) |       0 |        90778 |          1 |                       1438463 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 13)) |       0 |        84952 |          1 |                       1357482 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 24)) |       0 |        78541 |          1 |                       1284218 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 3, 15)) |       0 |            3 |          1 |                          6111 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 10)) |       0 |        73692 |          1 |                       1208758 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 5, 18)) |       0 |            2 |          1 |                          6109 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 4, 6)) |       0 |            1 |          1 |                          5528 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 21)) |       0 |       101054 |          1 |                       1581953 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 2, 1)) |       0 |            6 |          1 |                          6374 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 7)) |       0 |        71590 |          1 |                       1174110 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|  Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 18)) |       0 |        84603 |          1 |                       1362794 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 3, 9)) |       0 |            1 |          1 |                          5528 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
|   Row(tpep_pickup_datetime_day=datetime.date(2022, 1, 4)) |       0 |        74562 |          1 |                       1236592 |                            0 |                          0 |                            0 |                          0 | 2024-11-14 13:38:35.176000 |      6022052716745643488 |
+-----------------------------------------------------------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+----------------------------+--------------------------+

In [12]:
%%sql

CALL system.rewrite_data_files('nyc.taxis')

+----------------------------+------------------------+-----------------------+-------------------------+
| rewritten_data_files_count | added_data_files_count | rewritten_bytes_count | failed_data_files_count |
+----------------------------+------------------------+-----------------------+-------------------------+
|                         40 |                    758 |              40057638 |                       0 |
+----------------------------+------------------------+-----------------------+-------------------------+

In [13]:
%%sql

SELECT *
FROM nyc.taxis.files

+---------+--------------------------------------------------------------------------------------------------------------------------------------+-------------+---------+----------------------------------------------------------------------+--------------+--------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+---------------+--------------+---------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| content |                                                                                                                            file_path | file_format | spec_id |                                                            partition | record_count | file_size_in_bytes |                                                                                                                                                                       column_sizes |                                                                                                                                                                          value_counts |                                                                                                                      null_value_counts |                                                                  nan_value_counts |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              lower_bounds |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             upper_bounds | key_metadata | split_offsets | equality_ids | sort_order_id |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             readable_metrics |
+---------+--------------------------------------------------------------------------------------------------------------------------------------+-------------+---------+----------------------------------------------------------------------+--------------+--------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+---------------+--------------+---------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [14]:
%%sql

SELECT *
FROM nyc.taxis.snapshots
ORDER BY committed_at DESC

+----------------------------+---------------------+---------------------+-----------+--------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|               committed_at |         snapshot_id |           parent_id | operation |                                                                                          manifest_list |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                summary |
+----------------------------+---------------------+---------------------+-----------+--------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| 2024-11-14 13:38:56.101000 | 5377373251962650806 | 6022052716745643488 |   replace | s3://warehouse/nyc/taxis/metadata/snap-5377373251962650806-1-bf050da6-d035-44c7-88ba-c0487eb7dde5.avro | {'engine-version': '3.5.3', 'added-data-files': '758', 'total-equality-deletes': '0', 'app-id': 'local-1731591497860', 'added-records': '2463931', 'deleted-data-files': '40', 'deleted-records': '2463931', 'total-records': '2463931', 'removed-files-size': '40057638', 'changed-partition-count': '798', 'engine-name': 'spark', 'total-position-deletes': '0', 'added-files-size': '46539857', 'total-delete-files': '0', 'iceberg-version': 'Apache Iceberg 1.6.0 (commit 229d8f6fcd109e6c8943ea7cbb41dab746c6d0ed)', 'total-files-size': '46539857', 'total-data-files': '758'} |
| 2024-11-14 13:38:35.176000 | 6022052716745643488 |                None |    append | s3://warehouse/nyc/taxis/metadata/snap-6022052716745643488-1-d7166d89-f075-4c65-a15d-05f627ede544.avro |                                                         {'engine-version': '3.5.3', 'added-data-files': '40', 'total-equality-deletes': '0', 'app-id': 'local-1731591497860', 'added-records': '2463931', 'total-records': '2463931', 'spark.app.id': 'local-1731591497860', 'changed-partition-count': '40', 'engine-name': 'spark', 'total-position-deletes': '0', 'added-files-size': '40057638', 'total-delete-files': '0', 'iceberg-version': 'Apache Iceberg 1.6.0 (commit 229d8f6fcd109e6c8943ea7cbb41dab746c6d0ed)', 'total-files-size': '40057638', 'total-data-files': '40'} |
+----------------------------+---------------------+---------------------+-----------+--------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+